body{
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(230, 176, 227);
}
#calculator{
  font-family: Arial, sans-serif;
  background-color: palevioletred;
  border-radius: 15px;
  max-width: 500px;
  overflow: hidden;
}
#display{
  width: 100%;
  padding: 20px;
  font-size: 5rem;
  text-align: left;
  border: none;
  background-color: rgb(114, 90, 128);
}
#keys{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  padding: 25px;

}
button{
  width: 100px;
  height: 100px;
  border-radius: 50px;
  border: none;
  background-color: pink;
  color: white;
  font-size: 3rem;
  font-weight: bold;
  cursor: pointer;
}
button:hover{
  background-color: rgb(173, 160, 173);
}
button:active{
  background-color: rgb(173, 160, 173);
}
.operator-btn{
  background-color: blueviolet;
}
.operator-btn:hover{
  background-color: blueviolet;
}
.operator-btn:active{
  background-color: blueviolet;
}

@media only screen and (max-width: 414px ){
 
}
 
